@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
@font-face {
  font-family: "Frick";
  src: url(/assets/fonts/Frick.otf) format("opentype");
  font-weight: bolder;
}

/* WHOLE DOCUMENT */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  font-family: "Poppins", sans-serif;
  color: var(--white-colour);
}
:root {
  --bold-font: "Frick";
  --normal-font: "Poppins";
  --bg-colour: #09122c;
  --bg-colour-2: #323946;
  --main-colour: #be3144;
  --main-hover: #9c2a39;
  --white-colour: #cacaca;
  --inactive-colour: #fff3;
}
::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}
::-webkit-scrollbar-track {
  background: var(--bg-colour-2);
}
::-webkit-scrollbar-thumb {
  background: var(--main-colour);
  border-radius: 100vw;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--main-hover);
}

/* SECTIONS (slides) */
.container {
  width: 100%;
  height: 100vh;
  position: relative;
  justify-content: center;
  align-items: center;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}
.slide {
  width: 100%;
  height: 100vh;
  position: relative;
  background: var(--bg-colour);
  scroll-behavior: smooth;
  scroll-snap-align: start;
  padding: 80px;
}
.slide h1 {
  color: var(--main-colour);
  font-family: var(--bold-font);
  font-size: 130px;
}
.slide h1:hover {
  color: var(--main-hover);
}
.slide:nth-child(2) {
  background: var(--bg-colour-2);
}

/* HERO SECTION */
.hero-title {
  display: flex;
  overflow: hidden;
  flex-wrap: wrap;
  margin: 50px 100px 10px 100px;
  align-items: center;
  justify-content: space-between;
  height: 140px;
}
.hero-title .name-title {
  transform: translateX(-100%);
  animation: slideInL 1.5s forwards;
}
@keyframes slideInL {
  to {
    transform: translateX(0);
  }
}
.hero-title .surname-title {
  transform: translateX(100%);
  animation: slideInR 1.5s forwards;
}
@keyframes slideInR {
  to {
    transform: translateX(0);
  }
}

/* SMALLER DISPLAY SUPPORT */
